section
{
    background-image:url(../Imagenes/background.jpg); 
    grid-area: body;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: min-content;

    .titulo
    {
        color:$color_titulo;
        padding: 10px;
        margin: 30px;
        font-family:$fuente;
        text-align: center;
        background-color:darkblue;
        border-radius: 4ch;
    }

    .titulo2
    {
        color:blue;
        padding: 10px;
        margin: 30px;
        font-family:$fuente;
        text-align: center;
        background-color:black;
        border-radius: 4ch;
    }

    .parrafo
    {
        color:$color_section;
        font-size: calc(0.7em + 0.8vw);
        padding: 40px;
        font-family:$fuente;
        align-content: center;
    }

    .video
    {
        padding: 20px;
        display: flex;
        width:calc(50vw);
        justify-content: center;

        @media screen and (max-width: 600px)
        {
            width:calc(90vw);
        }
    }

    .video1
    {
        padding: 20px;
        display: flex;
        width:calc(50vw);
        height: calc(30vw);
        justify-content: center;

        @media screen and (max-width: 600px)
        {
        width:calc(90vw);
        height: calc(50vw);
        }
    }

    .informacion
    {
        padding: 20px;
        display: flex;
        width:100%;
        justify-content: space-between;

        @media screen and (max-width: 600px)
        {
            flex-direction: column;
            align-items: center;
        }
    }

    .informacion2
    {
        padding: 20px;
        display: flex;
        width:100%;
        justify-content:center;
        @media screen and (max-width: 600px)
        {
            flex-direction: column;
            align-items: center;
        }
    }

    .detalles
    {
        display: flex;
        margin: 5%;
        align-items: center;
        font-family:$fuente;
        color:$color_subtitulos;
        font-size: calc(0.5em + 1.5vw);
    }

    .imagenes
    {
        padding: 30px;
    }

    .ideas
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .items
    {
        position: relative;
        left: 1%;
    }

    .clientes1
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    @media screen and (max-width: 750px)
    {
        .clientes1
        {
            flex-direction: column;
            .imagenes
            {
                width: 65%;
                margin: 0.5%;
            }
        }
    } 

    .clientes
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagenes
    {
        width: 75%;
        margin: 0.5%;
    }

    .carrusel
    {
        width: 90%;
        margin: 2%;
        @media screen and (max-width: 600px)
        {
            position: relative;
            top: 8%;
            margin: 0.5%;
        }
    } 
    
} 

@mixin formato_titulo 
{
    font-size: calc(1.5em + 1.5vw);
    padding: 2%;
    transform:rotate(350deg); 
}

@mixin formato_email
{
    font-size: calc(0.5em + 1.5vw);
    padding: 7px;
    width: 100%;
    margin: 2%;
}

.contacto
{
    @extend section;
    justify-content: space-around;
    flex-direction: row;
    min-height: max-content;

    @keyframes efecto
    {
        0%
        {
            transform: rotatex(0deg) ;
        }
        25%
        {
            transform: rotatex(90deg);
        }
        50%
        {
            transform: rotatex(180deg);
        }
        75%
        {
            transform: rotatex(270deg);
        }
        100%
        {
            transform: rotatex(360deg);
        }
    }
    
    @media screen and (max-width: 600px)
    {
        flex-direction: column;
    }

    input:focus
    {
        height: calc(5vw);
        background-color: rgb(223, 155, 155);
        @media screen and (max-width: 600px)
        {
            height: calc(10vw);
        }
    }

    .titulo_mapa
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-around;

         .mapa
        {
          width: 80%; 
          height: 70%;
          margin: 15%;
        } 

        .titulo
        {
            @include formato_titulo;
            color:blue;
            position: relative;
            top: 5%;
            font-size: calc(1.5em + 1.5vw);
            padding: 2%;
            transform:rotate(350deg); 
            background-color: black;
            animation: efecto 5s linear 0s infinite;
        }

    }

    .elementos
    {
        justify-content: space-around;
        height: 100%;
        padding: 5%;
    }

    .nombre
    {
        color:white;
        font-size: calc(0.5em + 1.5vw);
        padding: 7px;
        width: 100%;
        margin: 2%;
    }

    .nombre1
    {
        width: 100%;
    }

    .email
    {
        @include formato_email;
        color:white;
    }

    .email1
    {
        width: 100%;
    }

    .pass
    {
        color:white;
        font-size: calc(0.5em + 1.5vw);
        padding: 5px;
        margin: 2%;
        width: 100%;
    }

    .pass1
    {
        width: 100%;
    }

    .coment
    {
        display: flex;
        padding: 7px;
        width: 100%;
    }

    .coment1
    {
/*         width:calc(35vw); */
        height: calc(15vw);
        margin: 2%;
        width: 100%;
    }

    textarea:focus
    {
        background-color: rgb(223, 155, 155);
    }

    .adj
    {
        color:white;
        font-size: calc(0.5em + 1vw);
        padding: 7px;
        margin: 2%;
    }

    .term
    {
        color:white;
        font-size: calc(0.5em + 0.5vw);
        padding: 7px;
        margin: 2%;
        justify-content:space-between;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 70%;
        
        :focus
        {
            height: calc(2vw);
        }
    }

    .enviar
    {
        color:white;
        padding: 7px;
        margin: 2%;
    }   

    .bot_enviar
    {
        font-size: calc(0.5em + 1vw);
        margin: 2%;
    }

    .bot_reset
    {
        font-size: calc(0.5em + 1vw);
    }
}