$fuente: 'Times New Roman', Times, serif;

$colores: 
(
    titulo:red,
    section: white,
    footer: rgb(52, 49, 49),
    texto_footer:gray,
);

$color_titulo: map-get($map: $colores, $key: titulo);
$color_section: map-get($map: $colores, $key: section);  
$color_footer: map-get($map: $colores, $key: footer);    
$texto_footer: map-get($map: $colores, $key: texto_footer);
